//---------------------------------------------------------------------------
//
// Name:        RiskApp.rc
// Author:      Piotrek
// Created:     2012-10-19 20:31:21
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
